@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Roboto:wght@100;300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

h1 {
  font-size: 55px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 40px;
  color: #0050dc;
  font-weight: 800;
  text-transform: uppercase;
}

.profile-photo {
  max-width: 75%;
  display: block;
  margin: auto;
  filter: grayscale(100%);
}

.profile-photo:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
  transition: 0.5s;
}

img {
  width: 100%;
  object-fit: contain;
}

.nav-bar {
  background-color: black;
  height: 75px;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  position: fixed;
  display: block;
  z-index: 1;
}

.nav-bar ul {
  list-style: none;
  color: white;
  margin: 1%;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.side-bar {
  width: 15%;
  height: 100%;
  background-color: #0050dc;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.5s;
}

.content-container {
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s;
}

.blog-post-image {
  width: 100%;
  padding: 10px;
  filter: grayscale(100%);
}

.blog-post-container {
  font-family: "Roboto", sans-serif;
  margin-bottom: 40px;
  margin-left: 15%;
  margin-right: 15%;
  background-color: limegreeny;
}

.blog-post-title {
  color: #0050dc;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border-left: 2px;
  border-left-color: #0050dc;
}

.blog-post-body {
  font-size: 16px;
  font-weight: 300;
  font-family: "Merriweather", serif;
  margin-bottom: 10px;
  text-align: justify;
  padding: 10px;
}

.blog-post-tags {
  font-size: 8px;
}

.circular--square {
  border-radius: 50%;
  border-color: white;
  border-width: 10px;
}
